<figure class="flex flex-col md:flex-row items-start gap-0 md:gap-8 p-6 md:p-5 border-b md:!border md:rounded-md dark:border-white/10">
  <a href="{{.Permalink}}" class="w-full md:w-[40%] aspect-[12/8] rounded-md overflow-hidden hover:opacity-90 transition">
    {{ if .Params.Thumbnail }}
    <img src="{{ .Params.Thumbnail }}"  class="w-full h-full object-cover" alt="{{ .Title }}">
    {{ end }}
  </a>
  <div class="pt-3 space-y-5 w-full md:w-[60%]">
    <a href="{{.Permalink}}" class="hover:underline">
      <figcaption class="text-xl font-medium leading-none line-clamp-2 capitalize">
        {{ .Title }}
      </figcaption>
    </a>
    <div class="flex items-center gap-3 text-xs text-black/60 dark:text-white/60">
      <a href="#" class="flex items-center gap-2 ">
        <span class="material-icons-outlined">laptop</span>
        Technology
      </a>
      <div class="flex items-center gap-1">
        <span class="material-icons-outlined ">schedule</span>
        <time>
          20 mins ago
        </time>
      </div>
    </div>
  </div>
</figure>