<div class="relative mb-10 w-full pr-5">
  <label for="search-post" class="block font-medium text-lg mb-2">Search Post:</label>
  <input
    id="search-post"
    class="
      px-3 py-1.5 
      border border-second/30 dark:border-fs-black/50
      bg-white dark:bg-fs-black/30 
      focus:ring-2 ring-second/30 dark:ring-primary/30
      rounded focus:outline-none transition w-full
    "
    v-model="searchQuery"
    type="search"
    autocomplete="off"  
    placeholder="search posts"
  />
</div>