<!DOCTYPE html>
<html>
  

  {{- partial "head.html" . -}}
</head>

<body class="bg-primary-gray dark:bg-primary-black mx-auto overflow-x-hidden dark:text-white">
  <div class="relative bg-white dark:bg-secondary-black py-4 max-w-[1119px] mx-auto">
    {{- partial "header.html" . -}}

    
    <section class="px-0 md:px-24 py-6">
      <div class="grid grid-cols-1 md:grid-cols-4 h-max">
        <main class="col-span-3 md:pr-8 space-y-0 md:space-y-4 mb-12 lg:mb-0">
          {{- block "main" . }}{{- end }}
        </main>
        
        {{- partial "side-content.html" . -}}
      </div>
    </section>
    {{- partial "footer.html" . -}}
  </div>
  

  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  {{ partial "search-index.html" . }}
  {{- block "scripts" . }}{{- end }}
  <script src="/js/main.js"></script>
</body>
</html>