{{ define "main" }}

  <h2 class="font-bolf text-2xl mb-5">{{ title .Section }}</h2>  
  <ul>
    {{ range .Paginator.Pages }}
      {{- partial "components/card-article.html" . -}}
    {{end}}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-format="fluid"
          data-ad-layout-key="-e1-5d+e2+er-1er"
          data-ad-client="ca-pub-1844158005089974"
          data-ad-slot="4690174307"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </ul>

  <div class="w-full flex justify-center">
    {{ template "_internal/pagination.html" . }}
  </div> 

{{end}}