{{ define "main" }}



<article class="md:border dark:border-white/10 md:rounded-lg p-5">
  <img src="/images/img1.png" class="rounded w-full" alt="article cover">

  <div class="pt-3 space-y-5 mt-3 mb-5">
    <h1 class="text-3xl font-medium leading-none capitalize">
      how to install windows 10 on laptop easily
    </h1>
    <div class="flex items-center gap-3 text-xs text-black/60 dark:text-white">
      <a href="#" class="flex items-cente gap-2 ">
        <span class="material-icons-outlined">laptop</span>
        Technology
      </a>
      <div class="flex items-center gap-1">
       <span class="material-icons-outlined">schedule</span>
        <time>
          20 mins ago
        </time>
      </div>
    </div>
  </div>
  <div class="prose dark:prose-invert prose-a:text-primary-blue">
    {{.Content}}
  </div>
</article>

  <div class="my-20">
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <h3 class="font-medium text-2xl mb-3">Related Posts</h3>
    <ul class="pl-5">
      {{ range . }}
      <li>- <a class="hover:underline" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>

{{end}}