<header class="sticky -top-12 bg-white dark:bg-secondary-black w-full items-start justify-center border-b dark:border-white/10 z-40 select-none px-4 md:px-24">
  <div class="col-span-2 order-last md:order-none mt-3 md:mt-0">

    <div class="flex items-center w-full gap-3 h-12">
      {{ partial "search-form.html" . }}

      <div class="h-full flex gap-0 md:gap-3">
        <!-- Langs -->
        <details class="relative h-full">
          <summary class="flex items-center gap-2 cursor-pointer px-3 h-full rounded-md rounded-r-none md:rounded-r border border-r-0 md:border-r border-gray-100 dark:border-white/10">
            <span class="text-lg hidden md:block">En</span>
            <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.0275 0.294983L7 5.26748L11.9725 0.294983L13.5 1.83332L7 8.33332L0.5 1.83332L2.0275 0.294983Z" fill="currentColor"/>
            </svg>
          </summary>
          <ul class="absolute top-full left-0 z-20 mt-1 border dark:border-primary-black rounded-md bg-white dark:bg-primary-black w-[150%] md:w-full shadow-lg">
            <li class="px-3 py-2 text-lg hover:bg-gray-100 dark:hover:bg-secondary-black cursor-pointer">En</li>
            <li class="px-3 py-2 text-lg hover:bg-gray-100 dark:hover:bg-secondary-black cursor-pointer">ID</li>
          </ul>
        </details>
    
        <!-- Switch Mode -->
        <button id="toggle-theme" class="w-12 md:w-auto md:px-4 h-full rounded-md rounded-l-none md:rounded-l border border-gray-100 dark:border-white/10 flex items-center justify-center gap-2">
          <div class="text hidden md:block">Light</div>
          <img src="/images/icons/lightmode.svg" alt="mode">
        </button>
      </div>
    </div>

    <!-- Categories -->
    <nav class="flex items-center md:gap-2 overflow-x-hidden dark:bg-secondary-black w-full md:!w-[90%] md:-mx-4 py-1 h-full">

      <!-- category list -->
      <div class="swiper nav-swiper md:!-pl-7 md:!pr-2 !w-full">

        <!-- side blur -->
        <div class="absolute -top-1 -left-2 h-[130%] w-6 bg-white dark:bg-secondary-black blur-sm z-20 hidden md:block"></div>
        <div class="absolute -top-1 -right-2 h-[130%] w-6 bg-white dark:bg-secondary-black blur-sm z-20 hidden md:block"></div>

        <div class="swiper-wrapper">
          {{ range $key, $value := .Site.Taxonomies.category }}
          <a href="#" class="swiper-slide flex items-center gap-3 !w-auto hover:bg-gray-300/20 py-2 px-6 rounded-lg transition">
            {{ partial "components/icon-by-category.html" (dict "category" $key)}}
            {{ $key | humanize }}
          </a>
          {{ end }}
        </div>
        
      </div>
      <!-- category list - END -->

      <div class="flex gap-2 !h-full">
        <!-- prev button -->
        <button class="nav-swiper-prev hidden md:flex items-center justify-center rounded-full hover:bg-gray-300/20 h-8 w-8">
          <img src="/images/icons/prev.svg" alt="">
        </button>
        
        <!-- next button -->
        <button class="nav-swiper-next hidden md:flex items-center justify-center rounded-full hover:bg-gray-300/20 h-8 w-8">
          <img src="/images/icons/next.svg" alt="">
        </button>
      </div>

    </nav>
     <!-- Categories - END -->
    
  </div>

</header>