<!-- Side Content -->
<aside class="col-span-1 space-y-4 px-4 md:px-0 text-secondary-black dark:text-white">

  <!-- Subscribe -->
  <div class="border dark:border-white/10 border-md p-3 rounded-md">
    <div class="flex items-center gap-2 border-b dark:border-white/10 pb-3 mb-3 ">
      <img class="dark:invert" src="/images/icons/email.svg" alt="email">
      <h2 class="text-lg">Subscribe</h2>
    </div>
    <input type="email" name="email"
      class="p-3 placeholder:text-secondary-black dark:placeholder:text-white/60 rounded-md border dark:border-white/10 w-full bg-transparent focus:outline-none"
      placeholder="Your@email.com" />
  </div>

  <!-- Follow Us -->
  <div class="border dark:border-white/10 border-md p-3 rounded-md">
    <div class="flex items-center gap-2 border-b dark:border-white/10 pb-3 mb-3">
      <img class="dark:invert" src="/images/icons/follow-us.svg" alt="follow">
      <h2 class="text-lg">Follow Us</h2>
    </div>
    <div class="flex items-center justify-start gap-3 py-2">
      <a href="{{ .Site.Params.Instagram }}"
        class="w-9 aspect-square grid place-items-center rounded-full border dark:border-white/10 hover:bg-gray-100 transition text-sm leading-none">
        <img class="dark:invert" src="/images/icons/instagram.svg" alt="instagram">
      </a>
      <a href="{{ .Site.Params.Twitter }}"
        class="w-9 aspect-square grid place-items-center rounded-full border dark:border-white/10 hover:bg-gray-100 transition text-sm leading-none">
        <img class="dark:invert" src="/images/icons/twitter.svg" alt="twitter">
      </a>
      <a href="{{ .Site.Params.Facebook }}"
        class="w-9 aspect-square grid place-items-center rounded-full border dark:border-white/10 hover:bg-gray-100 transition text-sm leading-none">
        <img class="dark:invert" src="/images/icons/facebook.svg" alt="facebook">
      </a>
      <a href="{{ .Site.Params.Youtube }}"
        class="w-9 aspect-square grid place-items-center rounded-full border dark:border-white/10 hover:bg-gray-100 transition text-sm leading-none">
        <img class="dark:invert" src="/images/icons/youtube.svg" alt="youtube">
      </a>
    </div>
  </div>

  <!-- Trending -->
  <div class="border dark:border-white/10 border-md p-3 rounded-md">
    <div class="flex items-center gap-2 border-b dark:border-white/10 pb-3 mb-3">
      <img class="dark:invert" src="/images/icons/categories/trending.svg" alt="trending">
      <h2 class="text-lg">Trending</h2>
    </div>
    <div class="space-y-3 dark:text-white">
      {{ range first 6 .Site.RegularPages }}
        {{ if eq .Params.Trending true }}
          <a href="{ .Permalink }" class="block line-clamp-2 hover:underline">
            {{ .Title }}
          </a>
        {{ end }}
      {{ end }}
    </div>
    <a href="#"
      class="block border-t dark:border-white/10 pt-3 mt-3 w-full text-center text-primary-blue hover:text-secondary-blue transition">
      See all
    </a>
  </div>

  <!-- Archives -->
  <div class="border border-md dark:border-white/10 p-3 rounded-md">
    <div class="flex items-center gap-2 border-b dark:border-white/10 pb-3 mb-3">
      <img class="dark:invert" src="/images/icons/archieve.svg" alt="archieve">
      <h2 class="text-lg">Archives</h2>
    </div>
    <ul class="space-y-2">
      <li class="flex items-center justify-between">
        <a href="#" class="hover:underline">January</a>
        <span>( 22 )</span>
      </li>
      <li class="flex items-center justify-between">
        <a href="#" class="hover:underline">February</a>
        <span>( 5 )</span>
      </li>
      <li class="flex items-center justify-between">
        <a href="#" class="hover:underline">March</a>
        <span>( 8 )</span>
      </li>
      <li class="flex items-center justify-between">
        <a href="#" class="hover:underline">April</a>
        <span>( 10 )</span>
      </li>

      <li class="flex items-center justify-between">
        <a href="#" class="hover:underline">May</a>
        <span>( 45 )</span>
      </li>
      <li class="flex items-center justify-between">
        <a href="#" class="hover:underline">June</a>
        <span>( 34 )</span>
      </li>
      <li class="flex items-center justify-between">
        <a href="#" class="hover:underline">July</a>
        <span>( 13 )</span>
      </li>
      <li class="flex items-center justify-between">
        <a href="#" class="hover:underline">August</a>
        <span>( 23 )</span>
      </li>
      <li class="flex items-center justify-between">
        <a href="#" class="hover:underline">September</a>
        <span>( 17 )</span>
      </li>
      <li class="flex items-center justify-between">
        <a href="#" class="hover:underline">October</a>
        <span>( 4 )</span>
      </li>
      <li class="flex items-center justify-between">
        <a href="#" class="hover:underline">November</a>
        <span>( 16 )</span>
      </li>
      <li class="flex items-center justify-between">
        <a href="#" class="hover:underline">December</a>
        <span>( 32 )</span>
      </li>
    </ul>
  </div>

  <!-- Tags -->
  <div class="border border-md dark:border-white/10 p-3 rounded-md">
    <div class="flex items-center gap-2 border-b dark:border-white/10 pb-3 mb-3">
      <img class="dark:invert" src="/images/icons/tag.svg" alt="tag">
      <h2 class="text-lg">Tags</h2>
    </div>
    <ul class="space-y-2">
      {{ range $key, $value := .Site.Taxonomies.tags }}
      <li class="flex items-center justify-between">
        <a href="{{ `/tags/` | relLangURL}}{{ $key | urlize }}" class="hover:underline">{{ $key | humanize }}</a>
        <span>({{ len $value }})</span>
      </li>
      {{ end }}
    </ul>
  </div>
</aside>